.bold-header {
  font-weight: 900;
 /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

body{
  background-color: rgb(211, 230, 236);
  /* font-family: monospace; */
  color: rgb(2, 8, 0);
}
*{
  font-weight: 900;
}
h1{
  font-size: 3rem;

}
.bold-header{
 font-size: 1.3rem;
 background-color: rgb(11, 104, 88);
  font-weight: 900;
  font-family: monospace;
  color: #d7dde2;
}
.container {
  margin-top: 16px;
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.department {
  margin-bottom: 16px;
  /* display: flex; */
  /* align-items: cent/r; */
  font-weight: 900;
}

.sub-departments {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.sub-department-label {
  margin-left: 16px;
}

.bold-header {
  font-weight: bold;
}
